<h1>Team & Player Stats:</h1>

<p><%= link_to "League Stats (All Divisions)", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php" %></p>
<p><%= link_to "Individual Stats", "http://www.yourleaguestats.com/darts/qsdl/league-stats.php" %></p>

<h3>A</h3><h3>B1</h3><h3>B2</h3><h3>C</h3>
<!-- Loop through team names and urls by division for specefic team stats links -->
