<h1>Team & Player Stats</h1>

<p><%= link_to "League Stats (All Divisions)", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php" %></p>
<p><%= link_to "Individual Stats", "http://www.yourleaguestats.com/darts/qsdl/league-stats.php" %></p>

<h4>Division A</h4>
<h4>Division B1</h4>
<h4>Division B2</h4>
<h4>Division C</h4>
<!-- Loop through team names and urls by division for specefic team stats links -->
