<% if current_user %>
<div class="container">
  <h3>Manage Team Info</h3>

  <p><%= link_to "ADD TEAM", new_team_url %></p>

  <li class="divider"></li>

  <% @teams.each do |t| %>
    <li class="backend-list"><%= link_to "#{t.name}", "/teams/#{t.id}/edit" %></li>
    <p><b>Updated:</b> <%= t.updated_at.strftime("%a, %B %d, %Y") %></p>
    <%= button_to "Delete", {controller: :teams, action: 'destroy', id: t.id }, method: :delete %></br>
    <li class="divider"></li>
  <% end %>

<% else %>
<div class="container">
  <h3>Unauthorized!</h3>
<% end %>
</div></br>
