<% if current_user %>
<div class="container">
  <h3>Manage Bar Info</h3>

  <p><%= link_to "ADD BAR", new_bar_url %></p>

  <% @bars.each do |b| %>
    <li class="backend-list"><%= link_to "#{b.name}", "/bars/#{b.id}/edit" %> <%= button_to "Delete", {controller: :bars,
      action: 'destroy', id: b.id }, method: :delete %></li></br>
    <li class="divider"></li>
  <% end %>

<% else %>
<div class="container">
  <h3>Unauthorized!</h3>
<% end %>
</div></br>
<!--
Popper's Pub near Bathurst/bloor
add images paper clip
make news
STYLE FLASHES & LISTS
MAKE FIXED BUTTON FOR USER LINKS-->
