<div class="container">
  <% if current_user %>
    <h5>Edit <%= @bar.name %>'s Info </h5>
    <%= render 'form' %>
  <% else %>
  <div class="container">
    <h5>Unauthorized!</h5>
  <% end %>
</div></br>
