<h3>Sponsored Bars:</h3>

<% @bars.each do |b| %>
  <p><%= b.name %></p>
  <p><%= b.address %></p>
  <p><%= b.phone %></p>
  <p><%= link_to "#{b.url}", "#{b.url}" %></p>
<% end %>
<!-- loop through all bars USE PAPERCLIP FOR PHOTO UPLOAD https://rubygems.org/gems/paperclip -->
