<!DOCTYPE html>
<html>
  <body>
    <div class="container" style="text-align: center;">
      <div class="left-center-block">
        <h5>Board Of Directors</h5>
        <p class="contacts"><b>President:</b> Paul LeBlanc</p>
        <p class="contacts"><b>Vice President:</b> Dave Cunningham</p>
        <p class="contacts"><b>Executive Members:</b> James Potter, Luisa Salerno, Chris Devos</p>
        <p class="contacts"><b>Past President:</b> Jason Little</p>
        <!--add each person's contact info? -->
        <p>
          <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-contact.php", target:'_blank', class:"link" do %>
            Contact Form<i class="material-icons" id="link-icon">launch</i>
          <% end %>
        </p></br>
      </div>
    </div>
  </body>
</html>
