<!DOCTYPE html>
<html>
  <body>
    <h1>Contact Us</h1>

    <p><%= link_to "Contact form", "http://www.yourleaguestats.com/darts/qsdl/league-contact.php" %></p>

    <h3>Board of Directors</h3>

    <p><b>President:</b> Paul LeBlanc</p>
    <p><b>Vice President:</b> Dave Cunningham</p>
    <p><b>Executive Members:</b> James Potter, Luisa Salerno, Chris Devos</p>
    <p><b>Past President:</b> Jason Little</p></br>
    <!--add each person's contact info? -->
  </body>
</html>
