<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h3>LEAGUE DOWNLOADS</h3>

      <p> <%= link_to "2016-2017 Scoresheet", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Scoresheet%202016-2017.pdf", target: '_blank' %> </p>
      <p> <%= link_to "QSDL Rules 2016-2017", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Rules%20revised%20September%2019,%202016.pdf", target: '_blank' %> </p>
      <p> <%= link_to "Darts Ontario Singles/Doubles", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDl%20Darts%20Ontario%20explanation%20of%20events.pdf", target: '_blank' %> </p>
      <p> <%= link_to "QSDL Constitution", "http://www.yourleaguestats.com/darts/qsdl/downloads/qsdl_constitution.pdf", target: '_blank' %> </p></br>
    </div>
  </body>
</html>
