<!DOCTYPE html>
<html>
  <body>
    <h1>League Downloads</h1>

    <p> <%= link_to "2016-2017 Scoresheet", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Scoresheet%202016-2017.pdf" %> </p>
    <p> <%= link_to "QSDL Rules 2016-2017", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Rules%20revised%20September%2019,%202016.pdf" %> </p>
    <p> <%= link_to "Darts Ontario Singles/Doubles", "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDl%20Darts%20Ontario%20explanation%20of%20events.pdf" %> </p>
    <p> <%= link_to "QSDL Constitution", "http://www.yourleaguestats.com/darts/qsdl/downloads/qsdl_constitution.pdf" %> </p></br>
  </body>
</html>
