<!DOCTYPE html>
<html>
  <body>
    <div class="container" style="text-align: center;">
      <div class="left-center-block">
        <h5>League Forms</h5>
        <p>
          <%= link_to "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL_BYLAWS_FINAL.pdf", target:'_blank', class:"link" do %>
            QSDL By Laws V.1.0<i class="material-icons" id="link-icon">launch</i>
          <% end %>
        </p>
        <p>
          <%= link_to "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Rules%20revised%20September%2019,%202016.pdf", target: '_blank', class:"link" do %>
            QSDL Rules 2016-2017<i class="material-icons" id="link-icon">launch</i>
          <% end %>
        </p>
        <p>
          <%= link_to "http://www.yourleaguestats.com/darts/qsdl/downloads/QSDL%20Team%20Registration%20Form%20rev%200818.pdf", target: '_blank', class:"link" do %>
            2018-2019 Registration<i class="material-icons" id="link-icon">launch</i>
          <% end %>
        </p>
        <p>
          <%= link_to "http://www.yourleaguestats.com/darts/qsdl/downloads/qsdl_constitution.pdf", target: '_blank', class:"link" do %>
            QSDL Constitution<i class="material-icons" id="link-icon">launch</i>
          <% end %>
        </p></br>
      </div>
    </div>
  </body>
</html>
