<!DOCTYPE html>
<html>
  <body>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('bg.png') %></div>
      <div style="margin-top: 160px;"></div>
      <!-- Create internal form and change link to popup -->
      <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl", class: 'parallax-link', target: '_blank' do %>
        JOIN THE LEAGUE<i class="material-icons" id="parallax-icon">launch</i>
      <% end %>
    </div>
    <div class="container">
      <div class="col l12 s12" style='text-align: justify;'>
        <h5 class="black-text">Queen Street Dart League</h5>
        <p class="black-text">
          The Queen Street Dart League was founded in 1991 in Toronto. Comprised
          of players of all skill levels, we provide a forum for competitive league
          darts in the city. Bars, legions and restaurants make up our venues which
          span the GTA. We welcome players of all ages (18+), and skill levels.
          Beginners are definitely welcome! We have an intro level division just for you!
        </p>
        <p class="black-text">
          We have two seasons – Regular Season starts in late September to April and Summer
          Season starts in June and ends in August. Our playoffs cap off the season and the
          winners are recognized at an awards banquet. You can join anytime! Bring your
          friends or join and find new friends! We can’t wait to meet you!
        <p>
        <p class='black-text'>League play is Tuesdays and it is free to join!</p>
      </div>
    </div>
  </body>
</html>
