<!DOCTYPE html>
<html>
  <body>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('bg.png') %></div>
      <div style="margin-top: 160px;"></div>
      <!-- Create internal form and change link to popup -->
      <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl", class: 'parallax-link', target: '_blank' do %>
        JOIN THE LEAGUE<i class="material-icons" id="parallax-icon">launch</i>
      <% end %>
    </div>
  </body>
</html>
