<!DOCTYPE html>
<html>
  <body>
      <h3><%= link_to "League Stats", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php" %></h3>
      <h3><%= link_to "News", "http://www.yourleaguestats.com/darts/qsdl/league-news.php" %></h3></br>
  </body>
</html>
