<!DOCTYPE html>
<html>
  <body>
    <% if !current_user %>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('bg.png') %></div>
    </div>
    <% else %>
    <div class="container center">
      <h4>Logout to view background image</h4>
    </div>
    <% end %>
  </body>
</html>
