<!DOCTYPE html>
<html>
  <body>
      <h3>Welcome to the Queen Street Dart League!</h3>
      <h4>A Toronto based bar league for players of all skill levels</h4>

      <h5><%= link_to "League Stats", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php" %></h5>
      <h5><%= link_to "News", "http://www.yourleaguestats.com/darts/qsdl/league-news.php" %></h5></br>
  </body>
</html>
