<!DOCTYPE html>
<html>
  <body>
    <h3>Looking to join a Dart League? <%= link_to "Join QSDL!", "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl" %></h3>
    <p>Email us at QSDL@email.com</p>

    <p>BACKGROUND INFO ABOUT LEAGUE HERE</p></br>
  </body>
</html>
