<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h5>Looking to join a dart league? <%= link_to "Join QSDL!", "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl", target: '_blank' %></h5>
      <p>Email us at QSDL@email.com</p>

      <p class="paragraph">BACKGROUND INFO ABOUT LEAGUE HERE Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></br>
    </div>
  </body>
</html>
