@import "materialize";

.nav-extended,
.nav-wrapper {
  background-color: #263238;
}

.nav-wrapper a {
  color: #e0e0e0;
  font-size: 14px;
}

#admin-nav {
  background-color: #37474f;
}

.error {
  color: #c62828;
}

.tabs.tabs-transparent {
  background-color: #546e7a;
  font-weight: bold;
}

#nav-icon {
  font-size: 22px;
  margin-left: 5px;
}

.link,
#link-icon {
  color: #337ab7 !important;
}

.link:hover {
  color: darkblue !important;
  #link-icon {
    color: darkblue !important;
  }
  #footer-icon {
    color: darkblue !important;
  }
}

.parallax-link {
  font-size: 32px;
  color: white;
  list-style: none;
  padding: 20px 10px;
  border: 3px solid white;
}

.parallax-link:hover {
  background-color: #263238;
}

#parallax-icon {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 32px;
}

.parallax-container {
  text-align: center;
}

.parallax {
  opacity: 0.7;
}

.side-nav li > a > i.material-icons {
  line-height: 62px;
}

.wrap {
  width: 300px;
}

#footer-icon,
#link-icon {
  vertical-align: middle;
  margin-left: 5px;
  color: #337ab7;
}

#footer-icon {
  font-size: 16px;
}

#link-icon {
  font-size: 26px;
}

.paragraph {
  text-align: justify;
}

// probs delete or change up
#news,
#teams,
#bars,
#account {
  font-weight: bold;
}

nav .brand-logo img {
  height: 64px;
}

#notice,
#alert {
  color: #337ab7;
}

h5 {
  margin-top: 20px !important;
  font-weight: bold !important;
}

.nav-title {
  font-size: 16px !important;
  padding: 0 10px !important;
  font-style: italic;
}

#button:hover {
  background-color: #37474f !important;
}

.btn.red:hover {
  background-color: #b71c1c !important;
}

.contacts {
  margin-top: 2.5px;
  margin-bottom: 0px;
}

.backend-list {
  list-style: none;
}

.fb,
.twitter {
  height: 25px;
  width: 25px;
}

.table-of-contents {
  // position: fixed;
  margin-top: 0;
}

.card-content a {
  color: #e0e0e0;
  font-weight: bold;
  font-style: italic;
}

.dropdown-button {
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
  width: auto !important;
}

.dropdown-content {
  overflow: auto;
}

.card {
  width: 500px;
}

.card .card-content {
  text-align: left !important;
}
