@import "materialize";

.nav-extended,
.nav-wrapper {
  background-color: #263238;
}

.nav-wrapper a {
  color: #e0e0e0;
  font-size: 14px;
}

.nav-li:hover {
  background-color: #37474f;
}

.active-li {
  background-color: #e0e0e0;
  a {
    color: #263238;
  }
}

#admin-nav {
  background-color: #37474f;
}

.error {
  color: #c62828;
}

.tabs.tabs-transparent {
  background-color: #546e7a;
  font-weight: bold;
}

#nav-icon {
  font-size: 22px;
  margin-left: 5px;
}

#side-nav-icon {
  font-size: 18px;
  line-height: 48px;
  color: black;
  margin-right: 40%;
}

.link,
#link-icon {
  color: #337ab7 !important;
}

.link:hover {
  color: darkblue !important;
  #link-icon {
    color: darkblue !important;
  }
  #footer-icon {
    color: darkblue !important;
  }
}

#nav-dropdown {
  margin-top: 0;
  margin-right: 0;
}

.side-nav-header {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 32px;
}

.parallax-container {
  width: 100%;
  text-align: center;
}

.parallax {
  opacity: 0.7;
}

.parallax-link {
  font-size: 32px;
  color: black;
  list-style: none;
  padding: 20px 10px;
  border: 3px solid black;
}

.parallax-link:hover {
  background-color: #263238;
  color: white;
  border-color: white;
  #parllax-icon {
    color: white;
  }
}

#parallax-icon {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 32px;
}

.side-nav li > a > i.material-icons {
  line-height: 62px;
}

#footer-icon,
#link-icon {
  vertical-align: middle;
  margin-left: 5px;
  color: #337ab7;
}

#footer-icon {
  font-size: 16px;
}

#link-icon {
  font-size: 26px;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.paragraph {
  text-align: justify;
}

nav .brand-logo img {
  height: 64px;
}

#notice,
#alert {
  color: #337ab7;
}

h5 {
  margin-top: 20px !important;
  margin-bottom: 15px;
  font-weight: bold !important;
}

.nav-title {
  font-size: 16px !important;
  padding: 0 10px !important;
  font-style: italic;
}

#team-header {
  width: 95%;
}

.team-section {
  float: left;
  width: 20%;
}

.team-section ul {
  width: 95%;
}

.team-pic,
.post-image {
  max-width: 95%;
}

.divider {
  clear: both;
}

#button:hover {
  background-color: #37474f !important;
}

.btn.red:hover {
  background-color: #b71c1c !important;
}

.error-list {
  color: red;
}

.contacts {
  margin-top: 2.5px;
  margin-bottom: 0px;
}

.backend-list {
  list-style: none;
}

.fb,
.twitter {
  height: 25px;
  width: 25px;
}

.table-of-contents {
  margin-top: 0;
}

.card-content a {
  color: #e0e0e0;
  font-weight: bold;
  font-style: italic;
}

.dropdown-button {
  margin-right: 15px;
  margin-top: 5px;
}

.dropdown-content {
  overflow: auto;
}

.card {
  width: 500px;
}

.card .card-content {
  text-align: left !important;
}

select {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.third {
  float: left;
  width: 33%;
  text-align: left;
  display: inline-block;
}

.page-footer .footer-copyright {
  background-color: #263238;
}

.left-center-block {
  display: inline-block;
  text-align: left;
}

@media only screen and (max-width: 524px) {
  .card {
    width: auto;
  }
}
