<% if current_user %>
<div class="container">
  <h5>Edit <%= @memorial.name %>'s Memorium </h5>
  <%= render 'form' %>
<% else %>
<div class="container">
  <h5>Unauthorized!</h5>
<% end %>
</div></br>
