<div class="container" style="text-align: center;">
  <h5>In Memorium</h5>
  <% @memorials.each do |m| %>
    <p><%= image_tag m.avatar.url(:medium) %></p>
    <p><%= m.name %></p>
    <p><%= m.bio %></p>
  <% end %>
</div>
