<!DOCTYPE html>
<html>
  <head>
    <title>QSDL</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <nav>
  <div class="nav-wrapper">
    <a href="/pages/home" class="brand-logo">QSDL</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/pages/home">Home</a></li>
      <li><a href="/pages/join">Join The League</a></li>
      <li><a href="/teams/index">Team & Player Stats</a></li>
      <li><a href="/bars/index">Sponsored Bars</a></li>
      <li><a href="/pages/downloads">Downloads</a></li>
      <li><a href="/pages/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <%= yield %>
  </body>
</html>
